absl-py
optax  # optimizers
tfds-nightly  # As of Jan 15, 2022. Newer API for tfds.even_splits().
tensorflow   # needed for tfds to work
tbp-nightly  # https://jax.readthedocs.io/en/latest/profiling.html
flax  # only for checkpoints
